body{
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}
main{
    border-radius: 8%;
    border: 8px solid white;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 24px 10px black;
}
main p {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 20px black;
    margin: 20px 30px 20px 30px;    

}
main input{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 0px 0px 24px 10px black;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    font-style: normal;
}
main input:hover{
    box-shadow: 0px 0px 28px 20px black;
}
main input:focus{
    transform: scale(1.2);
}
.button{
    width: 40px;
    height: 40px;
    font-size: 40px;
    box-shadow: 0px 0px 14px 5px white;
    border-radius: 100%;
    background-color: white;
    margin: 30px 100px 0px 100px ;
}
.text-left, .back{
    float: left;
}
.text-right, .switch{
    float: right;
}
.switch, .back{
    transition-duration: 2s;
    cursor: pointer;
}
.switch:hover, .back:hover{
    box-shadow: 0px 0px 20px 10px white;
    transform: scale(1.2);
}
.switch:hover{
    transform: rotate(-360deg) scale(1.2);
}



@keyframes switchAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes returnAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

input[type=number] {
    -moz-appearance: textfield;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
input[type=number] {
    -moz-appearance: textfield;
  }
html:not([dir="rtl"]) input {
    text-align: left;
  }
